.logout{
  position:absolute;
  right:5px;
  height:5px;
  background-color:transparent;
  border:none;
  color:white;
}
.chatContainer {
  width: 55%;
  height: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: #32302F;
  display: flex;
  overflow-y: scroll;
  overflow-x: none;
  flex-direction: column;

  .messages {
    color: white;
    height: 90%;
    margin-top: 10px;

    .userAndDateContainer {
      width: 50vw;
      display: flex;
      justify-content: space-between;

      @mixin userAndDate {
        width: 300px;
        height: 20px;
      }

      .user {
        @include userAndDate;
      }

      .date {
        @include userAndDate;
        text-align: right;
      }
    }

    .content {
      display: flex;
      width: 100%;
      min-height: 50px;
      max-height: 100px;
    }
  }

  .messages :first-child {
    margin: 0;
  }
}

.newMessage {
  width:100vw;
  bottom:0;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position:absolute;
  bottom:10px;

  .messageContent {
    display: flex;
    width: 40%;
    min-height: 50px;
    resize: none;
  }

  .sendMessage {
    display: flex;
    height: 50px;
    width: 100px;
    justify-content: center;
    align-items: center;
  }
}
