<div class="chatContainer">
  <span class="messages" *ngFor="let message of messages">
    <span class="userAndDateContainer">
      <span class="user">{{message.user}}</span>
      <span class="date">{{message.date | date:'HH:mm'}}</span>
    </span>
    <span class="content">{{message.content}}</span>
  </span>
  <span class="newMessage">
    <textarea type="text" class="messageContent" [(ngModel)]="messageContent"></textarea>
    <button class="sendMessage" (click)=newMessage()>Wyślij</button>
  </span>
</div>
